<template>
    <div class="container content">
        <div class="row">
            <div class="col">
                <div v-if="loading">
                    Loading...
                </div>

                <h3>{{ user.username }}</h3>

                <div v-if="users">
                    <ul class="list-group">
                        <li class="list-group-item list-group-item-action d-flex justify-content-between align-items-center"
                            v-for="(user, index) in users"
                            :key="index"
                            @click="toChat(user._id)">

                            {{ user.username }}
                            <div v-if="user.unread > 0">
                                unread
                                <span class="badge badge-primary badge-pill">{{ user.unread }}</span>
                            </div>

                        </li>
                    </ul>
                </div>

                <button class="btn" @click="logout">Log out</button>
            </div>
        </div>
    </div>
</template>

<script>
  import { mapActions, mapGetters } from 'vuex'

  export default {
    data () {
      return {
        loading: true
      }
    },
    async created () {
      await this.loadUsers()
      this.loading = false

      this.sockets.subscribe(`message/${this.user._id}`, () => {
        //@todo Just a hack to reload 'unread', normally it must be increased locally
        this.loadUsers()
      })

      this.sockets.subscribe('newUser', () => {
        this.loadUsers()
      })
    },
    computed: {
      ...mapGetters(['user', 'users'])
    },
    methods: {
      ...mapActions(['loadUsers', 'logoutUser']),
      toChat (user) {
        this.$router.push({ name: 'chat', params: { user } })
      },
      async logout () {
        await this.logoutUser()
        this.$router.push({ name: 'join' })
      }
    }
  }
</script>
