<template>
    <div class="container content">
        <div class="row">
            <div class="col">

                <div v-if="loading">
                    Loading...
                </div>

                <button class="btn" @click="back">Back</button>

                <div v-if="chat">
                    <ul class="list-unstyled">
                        <li v-for="(message, index) in chat" :key="index">

                            <div class="card" style="width: 18rem;">
                                <div class="card-body">
                                    <h5 class="card-title">
                                        {{ message.sender._id === user._id ? 'Me' :  message.sender.username }}
                                    </h5>
                                    <h6 class="card-subtitle mb-2 text-muted">
                                        {{ message.createdAt }}
                                    </h6>
                                    <p class="card-text">
                                        {{ message.text }}
                                    </p>
                                </div>
                            </div>

                        </li>
                    </ul>

                    <textarea v-model="newMessage" class="form-control"></textarea>
                    <button class="btn btn-primary" @click="send">Send message</button>
                </div>

            </div>
        </div>
    </div>
</template>

<script>
  import { mapActions, mapGetters, mapMutations } from 'vuex'
  import { ADD_MESSAGE } from '@/store/mutations'

  export default {
    data () {
      return {
        loading: true,
        newMessage: ''
      }
    },
    async created () {
      await this.loadChat(this.$route.params.user)
      this.loading = false

      this.sockets.subscribe(`message/${this.user._id}`, (message) => {
        this.addMessage(message)
      })
    },
    computed: {
      ...mapGetters(['user', 'chat'])
    },
    methods: {
      ...mapActions(['loadChat', 'sendMessage']),
      ...mapMutations({
        addMessage: ADD_MESSAGE
      }),
      async send () {
        const text = this.newMessage.trim()
        if (!text) {
          return alert('Message text is required')
        }

        const message = await this.sendMessage({
          user: this.$route.params.user,
          text
        })

        this.newMessage = ''
        this.$socket.emit('message', message)
      },
      back () {
        this.$router.push({ name: 'home' })
      }
    }
  }
</script>
