<template>
    <div class="container content">
        <div class="row">
            <div class="col">

                <input class="form-control" v-model="username"/>

                <button class="btn btn-primary" @click="join">Join</button>

            </div>
        </div>
    </div>
</template>

<script>
  import { mapActions } from 'vuex'

  export default {
    data () {
      return {
        username: ''
      }
    },
    methods: {
      ...mapActions(['joinUser']),
      async join () {
        console.log('Joining...')

        if (!this.username) {
          return alert('Username is required')
        }

        try {
          const user = await this.joinUser(this.username)
          this.$socket.emit('newUser', user)
          this.$router.push({ name: 'home' })
        } catch (e) {
          console.error('ERR', e)
          alert('Unable to join user')
        }
      }
    }
  }
</script>
